@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 203, 213, 225;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 2, 6, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle,rgb(156, 98, 98),rgb(140, 76, 76),rgb(95, 28, 28));
}
